#Head {
    font-size: 26px;
    text-align: right;

}


.box {
    float: left;
    display: inline;
}

#list {
    transform: translateX(50%);
    
}

#svgokno {
    position: relative;
    transform:translateX(25%);
    

}

#list ul {

  
    overflow: auto;
    /* this will hide the scrollbar in mozilla based browsers */
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    /* this will hide the scrollbar in internet explorers */
    -ms-overflow-style: none;
  }
  
  /* this will hide the scrollbar in webkit based browsers - safari, chrome, etc */
  #list ul::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
  }

 ul {
    border:#000000 solid 3px;
    border-radius: 12px; 
    padding:0px;
    height:400px; 
    width:200px;
  }

li {
    border-bottom:#000000 solid 2px;
    padding: 10px 5px;
}  

#ssvg {
    position: absolute;
    width: 1400px;
    height: 700px;
}

#oknoo { 
  transform: scale(0.7);
  backdrop-filter: blur(5px);
  width: 1000px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    
  
}

.displlay {border:#000000 solid 3px;
    border-radius: 12px; 
    padding: 2%;
    display:flex;
    justify-content: center;
    
} 

svg { border:#000000 solid 3px;
      border-radius: 12px; 
    
    }

#svg1 {fill:#000000;stroke:#000000}
#svg2 {stroke:#000000;fill:white}

li:hover {
    background-color:lightgray;
    color:white;
}

#ARK,#MUR,#PSK,#SMO,
#NEN,#KAM,#Sakhalin_island,
#path8669,#path26237,#path23925-7,
#KR,#LEN,#AD,#KK,#KEM,#TOM,#KYA,#SA,#KHM,
#SVE,#TYU,#IRK,#Zabaykalsky,#BU,#PER,#KO,#UD,
#TA,#ME,#BA,#KIR,#CU,#NIZ,#VLA,#IVA,#KOS,
#YAR,#VLG,#BA,#KGN,#SAM,#ULY,#SAR,#PNZ,#MO,
#TAM,#RYA,#TUL,#LIP,#ORL,#AST,#ROS,#VGG,#KB,#CE,
#STA,#KDA,#KHA,#YAN,#MOW,#MOS,#TVE,#NGR,#KLU,#KGD,
#CHU,#MAG,#PRI,#YEV,#AMU,#TY,#AL,#ALT,#NVS,#OMS,#CHE,
#ORE,#KL,#DA,#IN,#SE,#KC,#VOR,#BEL,#KRS,#BRY,#SMO,#PSK
{
    
    transition:all 0.35s ease;
}

#ssvg #ARK:hover,#ssvg #MUR:hover,#ssvg #PSK:hover,#ssvg #SMO:hover,
#ssvg #NEN:hover,#ssvg #KAM:hover,
#ssvg #Sakhalin_island:hover,#ssvg #path8669:hover,#ssvg #path26237:hover,
#ssvg #path23925-7:hover,#ssvg #KR:hover,#ssvg #LEN:hover,#ssvg #AD:hover,
#ssvg #KK:hover,#ssvg #KEM:hover,#ssvg #TOM:hover,#ssvg #KYA:hover,
#ssvg #SA:hover,#ssvg #KHM:hover,#ssvg #SVE:hover,#ssvg #TYU:hover,
#ssvg #IRK:hover,#Zabaykalsky:hover,#BU:hover,#PER:hover,
#ssvg #KO:hover,#ssvg #UD:hover,#ssvg #TA:hover,#ssvg #ME:hover,#ssvg #BA:hover,
#ssvg #KIR:hover,#ssvg #CU:hover,#ssvg #NIZ:hover,#ssvg #VLA:hover,#ssvg #IVA:hover,
#ssvg #KOS:hover,#ssvg #YAR:hover,#ssvg #VLG:hover,#ssvg #BA:hover,#ssvg #KGN:hover,
#ssvg #SAM:hover,#ssvg #ULY:hover,#ssvg #SAR:hover,#ssvg #PNZ:hover,#ssvg #MO:hover,
#ssvg #TAM:hover,#ssvg #RYA:hover,#ssvg #TUL:hover,#ssvg #LIP:hover,#ssvg #ORL:hover,
#ssvg #AST:hover,#ssvg #ROS:hover,#ssvg #VGG:hover,#ssvg #KB:hover,#ssvg #CE:hover,
#ssvg #STA:hover,#ssvg #KDA:hover,#ssvg #KHA:hover,#ssvg #YAN:hover,#ssvg #MOW:hover,
#ssvg #MOS:hover,#ssvg #TVE:hover,#ssvg #NGR:hover,#ssvg #KLU:hover,#ssvg #KGD:hover,
#ssvg #CHU:hover,#ssvg #MAG:hover,#ssvg #PRI:hover,#ssvg #YEV:hover,#ssvg #AMU:hover,
#ssvg #TY:hover,#ssvg #AL:hover,#ssvg #ALT:hover,#ssvg #NVS:hover,#ssvg #OMS:hover,
#ssvg #CHE:hover,#ssvg #ORE:hover,#ssvg #KL:hover,#ssvg #DA:hover,#ssvg #IN:hover,
#ssvg #SE:hover,#ssvg #KC:hover,#ssvg #VOR:hover,#ssvg #BEL:hover,#ssvg #KRS:hover,
#ssvg #BRY:hover
{
    transform: translateY(-1%);
}

#ARK:hover{fill:#2EB0E6;}#MUR:hover{fill:#273C90;}#PSK:hover{fill:#3257A3;}#SMO:hover{fill:#E63B17;}#NEN:hover{fill:#2E4B9B;}
#KAM:hover{fill:#2E65AF;}#Sakhalin_island:hover{fill:#018DC9;}#path8669:hover{fill:#E42013}#path26237:hover{fill:#2B99D5;}
#path23925-7:hover{fill:#E72D45;}#KR:hover{fill:#4DAF49;}#LEN:hover{fill:#50B8E9}#AD:hover{fill:#08A039;}#KK:hover{fill:#4EAE33;}
#KEM:hover{fill:#408ACA;}#TOM:hover{fill:#69B42D;}#KYA:hover{fill:#E52B1D;}#SA:hover{fill:#55A5DC;}#KHM:hover{fill:#367DC0;}
#SVE:hover{fill:#69B42F;}#TYU:hover{fill:#D72116;}#IRK:hover{fill:#4DBDEE;}#Zabaykalsky:hover{fill:#D6D900;}#BU:hover{fill:#375DA8;}
#PER:hover{fill:#E51E3E;}#KO:hover{fill:#2AA837;}#UD:hover{fill:#1B1009;}#TA:hover{fill:#22A847;}#ME:hover{fill:#E41713;}#BA:hover{fill:#1D66B0}
#KIR:hover{fill:#E8E124;}#CU:hover{fill:#DFDE1C;}#NIZ:hover{fill:#AFA5D2;}#VLA:hover{fill:#4FB5E8;}#IVA:hover{fill:#CC1A17;}
#KOS:hover{fill:#314A9A;}#YAR:hover{fill:#54AF32;}#VLG:hover{fill:#1D66B0;}#BA:hover{fill:#43AB34;}#KGN:hover{fill:#E42315;}
#SAM:hover{fill:#449CD7;}#ULY:hover{fill:#50B8E9;}#SAR:hover{fill:#E42513;}#PNZ:hover{fill:#E31713;}#MO:hover{fill:#E22F13;}
#TAM:hover{fill:#63B32F;}#RYA:hover{fill:#FFDF14;}#TUL:hover{fill:#E52526;}#LIP:hover{fill:#E62A38;}#ORL:hover{fill:#1F94D3;}
#AST:hover{fill:#419BD6;}#ROS:hover{fill:#E52A21;}#VGG:hover{fill:#2D4798;}#KB:hover{fill:#44A6DE;}#CE:hover{fill:#E41D20;}
#STA:hover{fill:#F5E71E;}#KDA:hover{fill:#C01481;}#KHA:hover{fill:#37A936}#YAN:hover{fill:#3068B1;}#MOW:hover{fill:#841810;}
#MOS:hover{fill:#E5232C;}#TVE:hover{fill:#F3E61B;}#NGR:hover{fill:#BA2718;}#KLU:hover{fill:#50B056;}#KGD:hover{fill:#D61116;}
#CHU:hover{fill:#2A4294;}#MAG:hover{fill:#E30613;}#PRI:hover{fill:#E52331;}#YEV:hover{fill:#E8328A;}#AMU:hover{fill:#DF091A;}
#TY:hover{fill:#ECE300;}#AL:hover{fill:#31BCEF;}#ALT:hover{fill:#E30613;}#NVS:hover{fill:#199738;}#OMS:hover{fill:#2F56A3;}
#CHE:hover{fill:#E5172A;}#ORE:hover{fill:#E30140;}#KL:hover{fill:#F5E71C;}#DA:hover{fill:#37A936;}#IN:hover{fill:#66B32E;}
#SE:hover{fill:#E52E18;}#KC:hover{fill:#E62C2F;}#VOR:hover{fill:#F6E827;}#BEL:hover{fill:#2B4999;}#KRS:hover{fill:#F1E500;}
#BRY:hover{fill:#E5252B;} 

#oknoo {
    
    transition:all 0.35s ease;
}

